body {
  font-family: Didot;
  font-size: 150%;
  background-color: #D68BD0;
  color: black;
}

header {
  text-align: center;
  width: 600px;
  margin: 10px auto 10px auto;
}

.media-links {
  position: absolute;
  top: 10px;
  left: 1200px;
  height: large;
}

.blog-nav {
  width: 700px;
  border-style: double;
  text-align: center;
  margin: 10px auto 10px auto;
  background-color: #705C6F;
}

.blogs {
  border-style: double;
  width: 400px;
  height: 175px;
  margin: 10px auto 10px auto;
  text-align: center;
  padding-top: 100px;
  background-color: #B3A6B1;
}

.content {
  border-style: double;
  width: 400px;
  height: 300px;
  margin: 10px auto 10px auto;
  text-align: left;
  padding-left: 10px;
  background-color: #B3A6B1;
}