body {
  font-family: Didot;
  font-size: 150%;
  background-color: #D68BD0;
  color: black;
}

header {
  text-align: center;
  width: 600px;
  margin: 10px auto 10px auto;
}

.media-links {
  position: absolute;
  top: 10px;
  left: 1200px;
  font-size: 75%;
  width: 200px;
}

.main-nav {
  width: 1000px;
  border-style: double;
  text-align: center;
  margin: 10px auto 10px auto;
  background-color: #705C6F;
}

.blogs {
  border-style: double;
  width: 1000px;
  height: 250px;
  margin: 10px auto 10px auto;
  text-align: center;
  padding-top: 100px;
  background-color: #B3A6B1;
}

.blogs a {
  padding: 25px;
  display: inline-table;
}

.content {
  border-style: double;
  width: 1250px;
  height: 1000px;
  margin: 10px auto 10px auto;
  text-align: left;
  padding: 10px;
  background-color: #B3A6B1;
  font-size: 75%;
}