body {
  font-family: Didot;
  font-size: 150%;
  color: black;
  background-color: #D68BD0
}

header {
  vertical-align: center;
  text-align: center;
  width: 1000px;
  height: 150px;
  margin: 10px auto 10px auto;
  font-size: 160%;
}

.media-links {
  position: absolute;
  top: 10px;
  left: 1225px;
  font-size: 75%;
  width: 200px;
}

.media-links a {
  display: inline-block;
  padding: 8px;
}

.main-nav {
  width: 1000px;
  border-style: double;
  text-align: center;
  margin: 10px auto 10px auto;
  background-color: #705C6F;
}

.main-nav a {
  display: inline-block;
  padding: 15px;
}

.welcome {
  border-style: double;
  width: 1000px;
  height: 250px;
  margin: 10px auto 10px auto;
  text-align: center;
  padding-top: 100px;
  background-color: #B3A6B1;
}

footer a:link {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom:10px;
  left: 550px;
  margin: 10px auto 10px auto;
  text-align: center;
  width: 300px;
  padding: 0px;
  font-size: 80%;
}

a:link {
  text-decoration: none;
  color: black;
}
